footer{
  bottom:0;
  background-color: #444;
  padding:20px 0;
  left: 0px;
  right: 0px;
}

footer .container{
  text-align: center;
}

footer img{
  float:left;
}

footer .social{
  text-align: center;
  display: inline-block;
}


footer .social li a{
  display: block;
  width: 40px;
  height: 40px;
  padding-top: 10px;
  text-align: center;
  background-color: transparent;

  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}

footer .social li a:hover{
  background-color: rgba(255,255,255,0.1);
}

footer .social li a i{
  color:#fff;
  font-size: 14px;
}


footer p{
  float: right;
  padding-top: 12px;
  color: #fff;
  font-size: 12px;
}
